In [21]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, MultiLabelBinarizer, StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report

In [22]:
df = pd.read_csv('student_dataset.csv')

In [23]:
df['Skills'] = df['Skills'].apply(lambda x: x.split(', '))

In [24]:
mlb_accenture = MultiLabelBinarizer()
skills_encoded = pd.DataFrame(mlb_accenture.fit_transform(df['Skills']), columns=mlb_accenture.classes_, index=df.index)

In [25]:
df = pd.concat([df, skills_encoded], axis=1)

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 20 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Gender                                600 non-null    object
 1   CGPA                                  600 non-null    float64
 2   Skills                                600 non-null    object
 3   Student_Department                    600 non-null    object
 4   Prior_Internship_Experience(Integer)  600 non-null    int64
 5   Aptitude_Score                        600 non-null    int64
 6   Communication_Skill_Score(out_of_10)  600 non-null    float64
 7   Zoho_hired                            600 non-null    object
 8   Accenture_hired                       600 non-null    object
 9   IBM_hired                             600 non-null    object
 10  Cognizant_hired                       600 non-null    object
 11  Knows Coding Language                 600 non-null    object
 12  C++                                   600 non-null    int32
 13  Communication                         600 non-null    int32
 14  HTML/CSS                              600 non-null    int32
 15  Java                                  600 non-null    int32
 16  JavaScript                            600 non-null    int32
 17  Problem Solving                       600 non-null    int32
 18  Python                                600 non-null    int32
 19  Teamwork                              600 non-null    int32
dtypes: float64(2), int32(8), int64(2), object(8)
memory usage: 75.1+ KB

In [27]:
label_encoder = LabelEncoder()
df['Accenture_hired'] = label_encoder.fit_transform(df['Accenture_hired'])

In [28]:
X = df.drop(['Zoho_hired', 'Skills','Knows Coding Language','Accenture_hired','IBM_hired','Cognizant_hired'], axis=1)  
y = df['Accenture_hired']

In [29]:
X.shape

(600, 14)

In [30]:
X

,Gender,CGPA,Student_Department,Prior_Internship_Experience(Integer),Aptitude_Score,Communication_Skill_Score(out_of_10),C++,Communication,HTML/CSS,Java,JavaScript,Problem Solving,Python,Teamwork
0,Female,7.6,MECH,2,95,4.5,1,1,0,1,0,1,0,0
1,Female,7.6,ECE,1,98,4.9,0,1,0,1,0,1,1,0
2,Female,9.0,AI & DS,2,65,7.7,1,0,1,1,0,1,0,0
3,Female,8.7,CSBS,1,85,5.0,1,1,0,0,0,0,0,0
4,Male,7.9,CSBS,0,51,6.0,0,1,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,Female,6.3,CSBS,1,75,6.0,0,1,0,0,1,0,0,1
596,Female,8.5,AI & ML,2,50,9.2,0,0,0,0,0,0,1,0
597,Male,7.0,AI & DS,2,59,6.1,0,0,1,0,1,1,0,0
598,Female,8.0,AI & DS,2,65,9.8,0,1,0,0,0,0,0,0
599,Male,9.7,AI & ML,1,62,9.2,0,0,1,0,0,0,0,1

In [31]:
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [0,2])], remainder='passthrough')

In [32]:
X = np.array(ct.fit_transform(X))

In [33]:
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [34]:
X_scaled

array([[ 0.95437311, -0.95437311, -0.43643578, ...,  1.46333908,
        -0.63651569, -0.69388867],
       [ 0.95437311, -0.95437311, -0.43643578, ...,  1.46333908,
         1.57105318, -0.69388867],
       [ 0.95437311, -0.95437311,  2.29128785, ...,  1.46333908,
        -0.63651569, -0.69388867],
       ...,
       [-1.04780824,  1.04780824,  2.29128785, ...,  1.46333908,
        -0.63651569, -0.69388867],
       [ 0.95437311, -0.95437311,  2.29128785, ..., -0.68336862,
        -0.63651569, -0.69388867],
       [-1.04780824,  1.04780824, -0.43643578, ..., -0.68336862,
        -0.63651569,  1.44115338]])

In [35]:
X_train,X_test,y_train,y_test = train_test_split(X_scaled,y,test_size=0.2,random_state=0)

In [36]:
classifier = RandomForestClassifier(random_state=42)
classifier.fit(X_train, y_train)
y_pred = classifier.predict(X_test)

In [37]:
y_pred = classifier.predict(X_test)

In [38]:
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy:.2f}")

Accuracy: 0.89

In [39]:
import joblib

In [40]:
joblib.dump(classifier, 'Accenture.pkl')

['Accenture.pkl']

In [41]:
joblib.dump(mlb_accenture, 'mlb_accenture.pkl')

['mlb_accenture.pkl']