In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report

In [2]:
df = pd.read_csv('student_dataset.csv')

In [3]:
df['Skills'] = df['Skills'].apply(lambda x: x.split(', '))

In [4]:
from sklearn.preprocessing import MultiLabelBinarizer

In [5]:
mlb_zoho = MultiLabelBinarizer()
skills_encoded = pd.DataFrame(mlb_zoho.fit_transform(df['Skills']), columns=mlb_zoho.classes_, index=df.index)

In [6]:
features = df[['Gender', 'CGPA', 'Student_Department', 'Prior_Internship_Experience(Integer)', 'Aptitude_Score', 'Communication_Skill_Score(out_of_10)']]
X = pd.concat([features, skills_encoded], axis=1)

In [7]:
y = df['Zoho_hired'].values
label_encoder = LabelEncoder()
y = label_encoder.fit_transform(y)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 12 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Gender                                600 non-null    object
 1   CGPA                                  600 non-null    float64
 2   Skills                                600 non-null    object
 3   Student_Department                    600 non-null    object
 4   Prior_Internship_Experience(Integer)  600 non-null    int64
 5   Aptitude_Score                        600 non-null    int64
 6   Communication_Skill_Score(out_of_10)  600 non-null    float64
 7   Zoho_hired                            600 non-null    object
 8   Accenture_hired                       600 non-null    object
 9   IBM_hired                             600 non-null    object
 10  Cognizant_hired                       600 non-null    object
 11  Knows Coding Language                 600 non-null    object
dtypes: float64(2), int64(2), object(8)
memory usage: 56.4+ KB

In [9]:
X.shape

(600, 14)

In [10]:
X

,Gender,CGPA,Student_Department,Prior_Internship_Experience(Integer),Aptitude_Score,Communication_Skill_Score(out_of_10),C++,Communication,HTML/CSS,Java,JavaScript,Problem Solving,Python,Teamwork
0,Female,7.6,MECH,2,95,4.5,1,1,0,1,0,1,0,0
1,Female,7.6,ECE,1,98,4.9,0,1,0,1,0,1,1,0
2,Female,9.0,AI & DS,2,65,7.7,1,0,1,1,0,1,0,0
3,Female,8.7,CSBS,1,85,5.0,1,1,0,0,0,0,0,0
4,Male,7.9,CSBS,0,51,6.0,0,1,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,Female,6.3,CSBS,1,75,6.0,0,1,0,0,1,0,0,1
596,Female,8.5,AI & ML,2,50,9.2,0,0,0,0,0,0,1,0
597,Male,7.0,AI & DS,2,59,6.1,0,0,1,0,1,1,0,0
598,Female,8.0,AI & DS,2,65,9.8,0,1,0,0,0,0,0,0
599,Male,9.7,AI & ML,1,62,9.2,0,0,1,0,0,0,0,1

In [11]:
X['Gender'] = label_encoder.fit_transform(X['Gender'])
X['Student_Department'] = label_encoder.fit_transform(X['Student_Department'])

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X.values, y, test_size=0.2, random_state=42)

In [15]:
X.shape

(600, 14)

In [13]:
classifier = RandomForestClassifier(random_state=42)
classifier.fit(X_train, y_train)
y_pred = classifier.predict(X_test)

In [14]:
y_pred = classifier.predict(X_test)

In [15]:
from sklearn.metrics import accuracy_score, classification_report

In [16]:
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy:.2f}")

Accuracy: 0.94

In [17]:
import joblib

In [18]:
joblib.dump(classifier, 'Zoho.pkl')

['Zoho.pkl']

In [20]:
joblib.dump(mlb_zoho, 'mlb_zoho.pkl')

['mlb_zoho.pkl']